<button pButton type="button" label="Test button"></button>
<div class="p-field">
    <label for="input-title">Title</label>
    <input pInputText id="input-title" type="text" [(ngModel)]="title" />
</div>

<p>{{title}}</p>

<p-table [value]="users" styleClass="p-datatable-striped" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Website</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.website}}</td>
        </tr>
    </ng-template>
</p-table>