/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body app-root {
    display: grid;
    width: 100%;
    grid-template-columns: 250px 20% auto 5%;
    grid-template-rows: 150px auto 150px;
}